
h1
{
    color:green;
}
#card1
{

display:grid;
grid-template-columns:repeat(3,0.3fr);
grid-gap:10px;




}

#card2
{


box-sizing: border-box;
grid-gap:10;

}

h4,h5,p
{
color:red;
text-align: left;
}

